In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()
import datetime as dt

# Set ipython's max row display
pd.set_option('display.max_row', 300)

# Set iPython's max column width to 50
pd.set_option('display.max_columns', 50)

In [7]:
projectData = pd.read_csv("trainingsetlabels.csv")
projectData_values = pd.read_csv("trainingsetvalues.csv")
testData=pd.read_csv('testsetvalues.csv')

In [8]:
projectData=projectData_values.merge(projectData,on='id',how='inner')
projectData_statusgroup = projectData['status_group']

In [9]:
testData_id = pd.DataFrame
testData_id=testData['id']

In [15]:
projectData_values.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,Lake Nyasa,Mnyusi B,Iringa,11,5,Ludewa,Mundindi,109,True,GeoData Consultants Ltd,VWC,Roman,False,1999,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,Lake Victoria,Nyamara,Mara,20,2,Serengeti,Natta,280,NaN,GeoData Consultants Ltd,Other,NaN,True,2010,gravity,gravity,gravity,wug,user-group,never pay,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,Pangani,Majengo,Manyara,21,4,Simanjiro,Ngorika,250,True,GeoData Consultants Ltd,VWC,Nyumba ya mungu pipe scheme,True,2009,gravity,gravity,gravity,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,Ruvuma / Southern Coast,Mahakamani,Mtwara,90,63,Nanyumbu,Nanyumbu,58,True,GeoData Consultants Ltd,VWC,NaN,True,1986,submersible,submersible,submersible,vwc,user-group,never pay,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,Lake Victoria,Kyanyamisa,Kagera,18,1,Karagwe,Nyakasimbi,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,gravity,gravity,gravity,other,other,never pay,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [11]:
projectData.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,Lake Nyasa,Mnyusi B,Iringa,11,5,Ludewa,Mundindi,109,True,GeoData Consultants Ltd,VWC,Roman,False,1999,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,Lake Victoria,Nyamara,Mara,20,2,Serengeti,Natta,280,NaN,GeoData Consultants Ltd,Other,NaN,True,2010,gravity,gravity,gravity,wug,user-group,never pay,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,Pangani,Majengo,Manyara,21,4,Simanjiro,Ngorika,250,True,GeoData Consultants Ltd,VWC,Nyumba ya mungu pipe scheme,True,2009,gravity,gravity,gravity,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,Ruvuma / Southern Coast,Mahakamani,Mtwara,90,63,Nanyumbu,Nanyumbu,58,True,GeoData Consultants Ltd,VWC,NaN,True,1986,submersible,submersible,submersible,vwc,user-group,never pay,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,Lake Victoria,Kyanyamisa,Kagera,18,1,Karagwe,Nyakasimbi,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,gravity,gravity,gravity,other,other,never pay,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional

In [13]:
testData.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,50785,0.0,2013-02-04,Dmdd,1996,DMDD,35.290799,-4.059696,Dinamu Secondary School,0,Internal,Magoma,Manyara,21,3,Mbulu,Bashay,321,True,GeoData Consultants Ltd,Parastatal,NaN,True,2012,other,other,other,parastatal,parastatal,never pay,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,other,other
1,51630,0.0,2013-02-04,Government Of Tanzania,1569,DWE,36.656709,-3.309214,Kimnyak,0,Pangani,Kimnyak,Arusha,2,2,Arusha Rural,Kimnyaki,300,True,GeoData Consultants Ltd,VWC,TPRI pipe line,True,2000,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
2,17168,0.0,2013-02-01,NaN,1567,NaN,34.767863,-5.004344,Puma Secondary,0,Internal,Msatu,Singida,13,2,Singida Rural,Puma,500,True,GeoData Consultants Ltd,VWC,P,NaN,2010,other,other,other,vwc,user-group,never pay,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,other,other
3,45559,0.0,2013-01-22,Finn Water,267,FINN WATER,38.058046,-9.418672,Kwa Mzee Pange,0,Ruvuma / Southern Coast,Kipindimbi,Lindi,80,43,Liwale,Mkutano,250,NaN,GeoData Consultants Ltd,VWC,NaN,True,1987,other,other,other,vwc,user-group,unknown,unknown,soft,good,dry,dry,shallow well,shallow well,groundwater,other,other
4,49871,500.0,2013-03-27,Bruder,1260,BRUDER,35.006123,-10.950412,Kwa Mzee Turuka,0,Ruvuma / Southern Coast,Losonga,Ruvuma,10,3,Mbinga,Mbinga Urban,60,NaN,GeoData Consultants Ltd,Water Board,BRUDER,True,2000,gravity,gravity,gravity,water board,user-group,pay monthly,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe

In [8]:
projectData.describe()

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year
count,59400.000000,59400.000000,59400.000000,59400.000000,5.940000e+04,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000
mean,37115.131768,317.650385,668.297239,34.077427,-5.706033e+00,0.474141,15.297003,5.629747,179.909983,1300.652475
std,21453.128371,2997.574558,693.116350,6.567432,2.946019e+00,12.236230,17.587406,9.633649,471.482176,951.620547
min,0.000000,0.000000,-90.000000,0.000000,-1.164944e+01,0.000000,1.000000,0.000000,0.000000,0.000000
25%,18519.750000,0.000000,0.000000,33.090347,-8.540621e+00,0.000000,5.000000,2.000000,0.000000,0.000000
50%,37061.500000,0.000000,369.000000,34.908743,-5.021597e+00,0.000000,12.000000,3.000000,25.000000,1986.000000
75%,55656.500000,20.000000,1319.250000,37.178387,-3.326156e+00,0.000000,17.000000,5.000000,215.000000,2004.000000
max,74247.000000,350000.000000,2770.000000,40.345193,-2.000000e-08,1776.000000,99.000000,80.000000,30500.000000,2013.000000

In [9]:
projectData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 0 to 59399
Data columns (total 41 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     59400 non-null  int64
 1   amount_tsh             59400 non-null  float64
 2   date_recorded          59400 non-null  object
 3   funder                 55765 non-null  object
 4   gps_height             59400 non-null  int64
 5   installer              55745 non-null  object
 6   longitude              59400 non-null  float64
 7   latitude               59400 non-null  float64
 8   wpt_name               59400 non-null  object
 9   num_private            59400 non-null  int64
 10  basin                  59400 non-null  object
 11  subvillage             59029 non-null  object
 12  region                 59400 non-null  object
 13  region_code            59400 non-null  int64
 14  district_code          59400 non-null  int64
 15  lga                    59400 non-null  object
 16  ward                   59400 non-null  object
 17  population             59400 non-null  int64
 18  public_meeting         56066 non-null  object
 19  recorded_by            59400 non-null  object
 20  scheme_management      55523 non-null  object
 21  scheme_name            31234 non-null  object
 22  permit                 56344 non-null  object
 23  construction_year      59400 non-null  int64
 24  extraction_type        59400 non-null  object
 25  extraction_type_group  59400 non-null  object
 26  extraction_type_class  59400 non-null  object
 27  management             59400 non-null  object
 28  management_group       59400 non-null  object
 29  payment                59400 non-null  object
 30  payment_type           59400 non-null  object
 31  water_quality          59400 non-null  object
 32  quality_group          59400 non-null  object
 33  quantity               59400 non-null  object
 34  quantity_group         59400 non-null  object
 35  source                 59400 non-null  object
 36  source_type            59400 non-null  object
 37  source_class           59400 non-null  object
 38  waterpoint_type        59400 non-null  object
 39  waterpoint_type_group  59400 non-null  object
 40  status_group           59400 non-null  object
dtypes: float64(3), int64(7), object(31)
memory usage: 19.0+ MB

In [10]:
projectData['construction_year'].value_counts()

0       20709
2010     2645
2008     2613
2009     2533
2000     2091
2007     1587
2006     1471
2003     1286
2011     1256
2004     1123
2012     1084
2002     1075
1978     1037
1995     1014
2005     1011
1999      979
1998      966
1990      954
1985      945
1980      811
1996      811
1984      779
1982      744
1994      738
1972      708
1974      676
1997      644
1992      640
1993      608
2001      540
1988      521
1983      488
1975      437
1986      434
1976      414
1970      411
1991      324
1989      316
1987      302
1981      238
1977      202
1979      192
1973      184
2013      176
1971      145
1960      102
1967       88
1963       85
1968       77
1969       59
1964       40
1962       30
1961       21
1965       19
1966       17
Name: construction_year, dtype: int64

We have too many 0 values in construction_year so instead of removing them, we will replace them with the mean of all the other values.

In [14]:
projectData['construction_year'] = projectData['construction_year'].replace(0, np.NaN)
testData['construction_year'] = testData['construction_year'].replace(0, np.NaN)
X = projectData.iloc[:, 23:25].values
X2 = testData.iloc[:, 22:24].values

In [19]:
X

array([[1999.0, 'gravity'],
       [2010.0, 'gravity'],
       [2009.0, 'gravity'],
       ...,
       [nan, 'swn 80'],
       [nan, 'nira/tanira'],
       [2002.0, 'nira/tanira']], dtype=object)

In [20]:
from sklearn.impute import SimpleImputer
imputer1 = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer2 = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer1.fit(X[:, 0:1])
imputer2.fit(X2[:, 1:2])
projectData['construction_year'] = imputer1.transform(X[:, 0:1])
testData['construction_year'] = imputer1.transform(X2[:, 1:2])

We are going to change the date_recorded column from type object to datetime64

In [22]:
projectData['date_recorded'] = pd.to_datetime(projectData['date_recorded'], format='%Y-%m-%d')
testData['date_recorded'] = pd.to_datetime(testData['date_recorded'], format='%Y-%m-%d')

In [ ]:
projectData['id'].value_counts()

id is a unique value and is useless for our model.

In [25]:
projectData.drop('id',axis='columns', inplace=True)
testData.drop('id',axis='columns', inplace=True)

In [ ]:
projectData['funder'].value_counts()

In [36]:
def clean_funder(projectData):
  if projectData['funder'] == 'Government Of Tanzania':
    return 'Government of Tanzania'
  elif projectData['funder']=='Danida':
    return 'Danida'
  elif projectData['funder']=='Hesawa':
    return 'Hesawa'
  elif projectData['funder']=='Rwssp':
    return 'Rwssp'
  elif projectData['funder']=='World Bank':
    return 'World Bank'    
  else:
    return 'other'

projectData['funder']= projectData.apply(lambda row: clean_funder(row), axis=1)
testData['funder']= testData.apply(lambda row: clean_funder(row), axis=1)

So with this method on funder column, we kept the top 5 values and changed all else to other. Which can be useful when we are using Categorical Encoding

In [1006]:
projectData['funder'].value_counts()

other                     42277
Government of Tanzania     9084
Danida                     3114
Hesawa                     2202
Rwssp                      1374
World Bank                 1349
Name: funder, dtype: int64

In [ ]:
projectData['installer'].value_counts()

In [35]:
def clean_installer(projectData):
  if projectData['installer'] == 'DWE':
    return 'DWE'
  elif projectData['installer']=='Government':
    return 'Government'
  elif projectData['installer']=='RWE':
    return 'RWE'
  elif projectData['installer']=='Commu':
    return 'Commu'
  elif projectData['installer']=='DANIDA':
    return 'DANIDA'    
  else:
    return 'other_installer'

projectData['installer']= projectData.apply(lambda row: clean_installer(row), axis=1)
testData['installer']= testData.apply(lambda row: clean_installer(row), axis=1)

In [1009]:
projectData['installer'].value_counts()

other_installer    36857
DWE                17402
Government          1825
RWE                 1206
Commu               1060
DANIDA              1050
Name: installer, dtype: int64

So with this method on installer column, we kept the top 5 values and changed all else to other. Which can be useful when we are using Categorical Encoding

In [ ]:
projectData['wpt_name'].value_counts()

wpt_name column data looks too varied to be useful.

In [27]:
projectData.drop('wpt_name',axis='columns', inplace=True)
testData.drop('wpt_name',axis='columns', inplace=True)

In [ ]:
projectData['num_private'].value_counts()

num_private data is definately useless with almost all rows with the value of "0"

In [28]:
projectData.drop('num_private',axis='columns', inplace=True)
testData.drop('num_private',axis='columns', inplace=True)

In [ ]:
projectData['subvillage'].value_counts()

subvillage column data looks too varied to be useful.

In [29]:
projectData.drop('subvillage',axis='columns', inplace=True)
testData.drop('subvillage',axis='columns', inplace=True)

In [ ]:
projectData['ward'].value_counts()

In [34]:
def clean_ward(projectData):
  if projectData['ward'] == 'Igosi':
    return 'Igosi'
  elif projectData['ward']=='Imalinyi':
    return 'Imalinyi'
  elif projectData['ward']=='Siha Kati':
    return 'Siha Kati'
  elif projectData['ward']=='Mdandu':
    return 'Mdandu'
  elif projectData['ward']=='Nduruma':
    return 'Nduruma'    
  else:
    return 'other_ward'

projectData['ward']= projectData.apply(lambda row: clean_ward(row), axis=1)
testData['ward']= testData.apply(lambda row: clean_ward(row), axis=1)

In [1018]:
projectData['ward'].value_counts()

other_ward    58161
Igosi           307
Imalinyi        252
Siha Kati       232
Mdandu          231
Nduruma         217
Name: ward, dtype: int64

In [1019]:
projectData['recorded_by'].value_counts()

GeoData Consultants Ltd    59400
Name: recorded_by, dtype: int64

recorded_by column only has only one data and is useless.

In [30]:
projectData.drop('recorded_by',axis='columns', inplace=True)
testData.drop('recorded_by',axis='columns', inplace=True)

In [1021]:
projectData['payment'].value_counts()

never pay                25348
pay per bucket            8985
pay monthly               8300
unknown                   8157
pay when scheme fails     3914
pay annually              3642
other                     1054
Name: payment, dtype: int64

In [1022]:
projectData['payment_type'].value_counts()

never pay     25348
per bucket     8985
monthly        8300
unknown        8157
on failure     3914
annually       3642
other          1054
Name: payment_type, dtype: int64

payment and payment_type are correlated and so one of the column is useless.

In [31]:
projectData.drop('payment',axis='columns', inplace=True)
testData.drop('payment',axis='columns', inplace=True)

In [1024]:
projectData['quantity'].value_counts()

enough          33186
insufficient    15129
dry              6246
seasonal         4050
unknown           789
Name: quantity, dtype: int64

In [1025]:
projectData['quantity_group'].value_counts()

enough          33186
insufficient    15129
dry              6246
seasonal         4050
unknown           789
Name: quantity_group, dtype: int64

quantity and quantity_group are correlated and so one of the column is useless.

In [32]:
projectData.drop('quantity_group',axis='columns', inplace=True)
testData.drop('quantity_group',axis='columns', inplace=True)

In [ ]:
projectData['lga'].value_counts()

In [33]:
def clean_lga(projectData):
  if projectData['lga'] == 'Njombe':
    return 'Njombe'
  elif projectData['lga']=='Arusha Rural':
    return 'Arusha Rural'
  elif projectData['lga']=='Moshi Rural':
    return 'Moshi Rural'
  elif projectData['lga']=='Bariadi':
    return 'Bariadi'
  elif projectData['lga']=='Rungwe':
    return 'Rungwe'    
  else:
    return 'other_lga'

projectData['lga']= projectData.apply(lambda row: clean_lga(row), axis=1)
testData['lga']= testData.apply(lambda row: clean_lga(row), axis=1)

In [1029]:
projectData['lga'].value_counts()

other_lga       52111
Njombe           2503
Arusha Rural     1252
Moshi Rural      1251
Bariadi          1177
Rungwe           1106
Name: lga, dtype: int64

In [1030]:
projectData['extraction_type'].value_counts()

gravity                      26780
nira/tanira                   8154
other                         6430
submersible                   4764
swn 80                        3670
mono                          2865
india mark ii                 2400
afridev                       1770
ksb                           1415
other - rope pump              451
other - swn 81                 229
windmill                       117
india mark iii                  98
cemo                            90
other - play pump               85
walimi                          48
climax                          32
other - mkulima/shinyanga        2
Name: extraction_type, dtype: int64

In [1031]:
projectData['extraction_type_group'].value_counts()

gravity            26780
nira/tanira         8154
other               6430
submersible         6179
swn 80              3670
mono                2865
india mark ii       2400
afridev             1770
rope pump            451
other handpump       364
other motorpump      122
wind-powered         117
india mark iii        98
Name: extraction_type_group, dtype: int64

In [1032]:
projectData['extraction_type_class'].value_counts()

gravity         26780
handpump        16456
other            6430
submersible      6179
motorpump        2987
rope pump         451
wind-powered      117
Name: extraction_type_class, dtype: int64

extraction_type and extraction_type_group and extraction_type_class are correlated. So we remove extraction_type_class for less detailed values. And extraction_type_group for being identitcal to extraction_type

In [1033]:
projectData.drop('extraction_type_class',axis='columns', inplace=True)
testData.drop('extraction_type_class',axis='columns', inplace=True)

In [1034]:
projectData.drop('extraction_type_group',axis='columns', inplace=True)
testData.drop('extraction_type_group',axis='columns', inplace=True)

In [1035]:
projectData['water_quality'].value_counts()

soft                  50818
salty                  4856
unknown                1876
milky                   804
coloured                490
salty abandoned         339
fluoride                200
fluoride abandoned       17
Name: water_quality, dtype: int64

In [1036]:
projectData['quality_group'].value_counts()

good        50818
salty        5195
unknown      1876
milky         804
colored       490
fluoride      217
Name: quality_group, dtype: int64

water_quality and quality group is correlated so we can remove water_quality.

In [1037]:
projectData.drop('water_quality',axis='columns', inplace=True)
testData.drop('water_quality',axis='columns', inplace=True)

Since we already know water quality. We understand tat we don't need the geographical data of Tanzania for predicting the quality of water. Therefore, we will remove gps_height, longitude and latitude.

In [1038]:
#projectData.drop('latitude',axis='columns', inplace=True)
#testData.drop('latitude',axis='columns', inplace=True)

In [1039]:
#projectData.drop('longitude',axis='columns', inplace=True)
#testData.drop('longitude',axis='columns', inplace=True)

In [1040]:
#projectData.drop('gps_height',axis='columns', inplace=True)
#testData.drop('gps_height',axis='columns', inplace=True)

In [1041]:
projectData['source'].value_counts()

spring                  17021
shallow well            16824
machine dbh             11075
river                    9612
rainwater harvesting     2295
hand dtw                  874
lake                      765
dam                       656
other                     212
unknown                    66
Name: source, dtype: int64

In [1042]:
projectData['source_type'].value_counts()

spring                  17021
shallow well            16824
borehole                11949
river/lake              10377
rainwater harvesting     2295
dam                       656
other                     278
Name: source_type, dtype: int64

source and source_type are correlated so we can remove the less detailed one.

In [1043]:
projectData.drop('source',axis='columns', inplace=True)
testData.drop('source',axis='columns', inplace=True)

In [1044]:
projectData['scheme_management'].value_counts()

VWC                 36793
WUG                  5206
Water authority      3153
WUA                  2883
Water Board          2748
Parastatal           1680
Private operator     1063
Company              1061
Other                 766
SWC                    97
Trust                  72
None                    1
Name: scheme_management, dtype: int64

In [ ]:
projectData['scheme_name'].value_counts()

In [1046]:
projectData['scheme_name'].isnull().values.sum()

28166

scheme_name column has categorical data and almost %50 null values so it can be removed. projcetData.info() showed this too.

In [1047]:
projectData.drop('scheme_name',axis='columns', inplace=True)
testData.drop('scheme_name',axis='columns', inplace=True)

In [1048]:
projectData['permit'].value_counts()

True     38852
False    17492
Name: permit, dtype: int64

In [1049]:
projectData['region'].value_counts()

Iringa           5294
Shinyanga        4982
Mbeya            4639
Kilimanjaro      4379
Morogoro         4006
Arusha           3350
Kagera           3316
Mwanza           3102
Kigoma           2816
Ruvuma           2640
Pwani            2635
Tanga            2547
Dodoma           2201
Singida          2093
Mara             1969
Tabora           1959
Rukwa            1808
Mtwara           1730
Manyara          1583
Lindi            1546
Dar es Salaam     805
Name: region, dtype: int64

In [1050]:
projectData['region_code'].value_counts()

11    5300
17    5011
12    4639
3     4379
5     4040
18    3324
19    3047
2     3024
16    2816
10    2640
4     2513
1     2201
13    2093
14    1979
20    1969
15    1808
6     1609
21    1583
80    1238
60    1025
90     917
7      805
99     423
9      390
24     326
8      300
40       1
Name: region_code, dtype: int64

region code and region seems correlated so we will keep the data with integers.

In [1051]:
projectData.drop('region',axis='columns', inplace=True)
testData.drop('region',axis='columns', inplace=True)

In [1052]:
projectData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 0 to 59399
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   status_group           59400 non-null  object
 1   amount_tsh             59400 non-null  float64
 2   date_recorded          59400 non-null  datetime64[ns]
 3   funder                 59400 non-null  object
 4   gps_height             59400 non-null  int64
 5   installer              59400 non-null  object
 6   longitude              59400 non-null  float64
 7   latitude               59400 non-null  float64
 8   basin                  59400 non-null  object
 9   region_code            59400 non-null  int64
 10  district_code          59400 non-null  int64
 11  lga                    59400 non-null  object
 12  ward                   59400 non-null  object
 13  population             59400 non-null  int64
 14  public_meeting         56066 non-null  object
 15  scheme_management      55523 non-null  object
 16  permit                 56344 non-null  object
 17  construction_year      59400 non-null  float64
 18  extraction_type        59400 non-null  object
 19  management             59400 non-null  object
 20  management_group       59400 non-null  object
 21  payment_type           59400 non-null  object
 22  quality_group          59400 non-null  object
 23  quantity               59400 non-null  object
 24  source_type            59400 non-null  object
 25  source_class           59400 non-null  object
 26  waterpoint_type        59400 non-null  object
 27  waterpoint_type_group  59400 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(4), object(19)
memory usage: 13.1+ MB

In [1053]:
projectData['basin'].value_counts()

Lake Victoria              10248
Pangani                     8940
Rufiji                      7976
Internal                    7785
Lake Tanganyika             6432
Wami / Ruvu                 5987
Lake Nyasa                  5085
Ruvuma / Southern Coast     4493
Lake Rukwa                  2454
Name: basin, dtype: int64

In [1054]:
projectData['district_code'].value_counts()

1     12203
2     11173
3      9998
4      8999
5      4356
6      4074
7      3343
8      1043
30      995
33      874
53      745
43      505
13      391
23      293
63      195
62      109
60       63
0        23
80       12
67        6
Name: district_code, dtype: int64

In [ ]:
projectData['population'].value_counts()

Since we can't know if the population data "0" means unpopulated or missing data we will remove this column from our dataframe. As the 0 value is almost 45 percent of the data.

In [1056]:
projectData.drop('population',axis='columns', inplace=True)
testData.drop('population',axis='columns', inplace=True)

Now we have two columns that have missing data. Public_meeting and sceheme_management. We will fix these

In [1057]:
projectData['public_meeting'].value_counts()

True     51011
False     5055
Name: public_meeting, dtype: int64

We replace missing values with forward filling.

In [1058]:
projectData['permit'] = projectData['permit'].fillna(method='ffill')
testData['permit'] = testData['permit'].fillna(method='ffill')

In [1059]:
projectData['scheme_management'] = projectData['scheme_management'].replace(np.NaN, 'other')
testData['scheme_management'] = testData['scheme_management'].replace(np.NaN, 'other')

In [1060]:
projectData['permit'].value_counts()

True     40957
False    18443
Name: permit, dtype: int64

In [1061]:
projectData['permit'] = projectData['permit'].fillna(method='ffill')
testData['permit'] = testData['permit'].fillna(method='ffill')

We replace missing values with forward filling.

In [1062]:
projectData['status_group'] = projectData['status_group'].map({'functional': 1, 'non functional': 0, 'functional needs repair':2})

In [1063]:
projectData['waterpoint_type'].value_counts()

communal standpipe             28522
hand pump                      17488
other                           6380
communal standpipe multiple     6103
improved spring                  784
cattle trough                    116
dam                                7
Name: waterpoint_type, dtype: int64

In [1064]:
projectData['waterpoint_type_group'].value_counts()

communal standpipe    34625
hand pump             17488
other                  6380
improved spring         784
cattle trough           116
dam                       7
Name: waterpoint_type_group, dtype: int64

From these two columns we can drop waterpoint_type_group.

In [1065]:
projectData.drop('waterpoint_type_group',axis='columns', inplace=True)
testData.drop('waterpoint_type_group',axis='columns', inplace=True)

We have now made sure, every column has 59400 values. Now we begin Categorical Encoding.

In [1066]:
projectData = pd.get_dummies(projectData, columns=["funder", "installer", "basin", "lga", "ward", "public_meeting", "scheme_management",
                                     "extraction_type", "management", "management_group", "payment_type", "quality_group",
                                     "quantity", "source_type", "source_class", "waterpoint_type"], prefix=["funder", "installer", "basin", "lga","ward", "public_meeting", "scheme_management",
                                     "extraction_type", "management", "management_group", "payment_type", "quality_group",
                                     "quantity", "source_type", "source_class", "waterpoint_type"])
testData = pd.get_dummies(testData, columns=["funder", "installer", "basin", "lga", "ward", "public_meeting", "scheme_management",
                                     "extraction_type", "management", "management_group", "payment_type", "quality_group",
                                     "quantity", "source_type", "source_class", "waterpoint_type"], prefix=["funder", "installer", "basin", "lga","ward", "public_meeting", "scheme_management",
                                     "extraction_type", "management", "management_group", "payment_type", "quality_group",
                                     "quantity", "source_type", "source_class", "waterpoint_type"])

In [1067]:
projectData["permit"] = projectData["permit"].astype(np.int64)
testData["permit"] = testData["permit"].astype(np.int64)

In [1068]:
projectData["construction_year"] = projectData["construction_year"].astype(np.int64)
testData["construction_year"] = testData["construction_year"].astype(np.int64)

In [1069]:
projectData["amount_tsh"] = projectData["amount_tsh"].astype(np.int64)
testData["amount_tsh"] = testData["amount_tsh"].astype(np.int64)

In [1070]:
projectData.head()

,status_group,amount_tsh,date_recorded,gps_height,longitude,latitude,region_code,district_code,permit,construction_year,funder_Danida,funder_Government of Tanzania,funder_Hesawa,funder_Rwssp,funder_World Bank,funder_other,installer_Commu,installer_DANIDA,installer_DWE,installer_Government,installer_RWE,installer_other_installer,basin_Internal,basin_Lake Nyasa,basin_Lake Rukwa,basin_Lake Tanganyika,basin_Lake Victoria,basin_Pangani,basin_Rufiji,basin_Ruvuma / Southern Coast,basin_Wami / Ruvu,lga_Arusha Rural,lga_Bariadi,lga_Moshi Rural,lga_Njombe,lga_Rungwe,lga_other_lga,ward_Igosi,ward_Imalinyi,ward_Mdandu,ward_Nduruma,ward_Siha Kati,ward_other_ward,public_meeting_False,public_meeting_True,scheme_management_Company,scheme_management_None,scheme_management_Other,scheme_management_Parastatal,scheme_management_Private operator,scheme_management_SWC,scheme_management_Trust,scheme_management_VWC,scheme_management_WUA,scheme_management_WUG,scheme_management_Water Board,scheme_management_Water authority,scheme_management_other,extraction_type_afridev,extraction_type_cemo,extraction_type_climax,extraction_type_gravity,extraction_type_india mark ii,extraction_type_india mark iii,extraction_type_ksb,extraction_type_mono,extraction_type_nira/tanira,extraction_type_other,extraction_type_other - mkulima/shinyanga,extraction_type_other - play pump,extraction_type_other - rope pump,extraction_type_other - swn 81,extraction_type_submersible,extraction_type_swn 80,extraction_type_walimi,extraction_type_windmill,management_company,management_other,management_other - school,management_parastatal,management_private operator,management_trust,management_unknown,management_vwc,management_water authority,management_water board,management_wua,management_wug,management_group_commercial,management_group_other,management_group_parastatal,management_group_unknown,management_group_user-group,payment_type_annually,payment_type_monthly,payment_type_never pay,payment_type_on failure,payment_type_other,payment_type_per bucket,payment_type_unknown,quality_group_colored,quality_group_fluoride,quality_group_good,quality_group_milky,quality_group_salty,quality_group_unknown,quantity_dry,quantity_enough,quantity_insufficient,quantity_seasonal,quantity_unknown,source_type_borehole,source_type_dam,source_type_other,source_type_rainwater harvesting,source_type_river/lake,source_type_shallow well,source_type_spring,source_class_groundwater,source_class_surface,source_class_unknown,waterpoint_type_cattle trough,waterpoint_type_communal standpipe,waterpoint_type_communal standpipe multiple,waterpoint_type_dam,waterpoint_type_hand pump,waterpoint_type_improved spring,waterpoint_type_other
0,1,6000,2011-03-14,1390,34.938093,-9.856322,11,5,0,1999,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0
1,1,0,2013-03-06,1399,34.698766,-2.147466,20,2,1,2010,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0
2,1,25,2013-02-25,686,37.460664,-3.821329,21,4,1,2009,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
3,0,0,2013-01-28,263,38.486161,-11.155298,90,63,1,1986,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0
4,1,0,2011-07-13,0,31.130847,-1.825359,18,1,1,1996,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0

In [1071]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

In [ ]:
corrMatrix = projectData.corr()
print(corrMatrix)

In [1073]:
projectData.drop('source_class_unknown',axis='columns', inplace=True)
testData.drop('source_class_unknown',axis='columns', inplace=True)

source_class_unknown is weakly Correlated with all

In [1074]:
projectData.drop('source_class_surface',axis='columns', inplace=True)
testData.drop('source_class_surface',axis='columns', inplace=True)

source_class_surface is fully correlated %98+ with source_class_groundwater

In [1075]:
projectData.drop('extraction_type_other - mkulima/shinyanga',axis='columns', inplace=True)
projectData.drop('scheme_management_None',axis='columns', inplace=True)

In [1076]:
#These columns don't exist in testData

In [ ]:
#Removed all these colums based on Selector below. So that models run faster.

In [1082]:
projectData['date_recorded'] = projectData['date_recorded'].dt.year
testData['date_recorded'] = testData['date_recorded'].dt.year

In [1083]:
projectData["date_recorded"] = projectData["date_recorded"].astype(np.int64)
testData["date_recorded"] = testData["date_recorded"].astype(np.int64)

In [1084]:
projectData.drop('status_group',axis='columns', inplace=True)

In [1086]:
projectData.drop(projectData.columns[[2,3,4,7,9,10,11,12,13,15,16,18,19,20,22,23,24,25,26,27,28,29,30,31,32,33,34,35,
                                      37,38,39,40,41,42,44,45,46,47,48,49,50,51,52,53,54,56,57,58,61,62,63,66,67,68,69,
                                      70,71,72,73,74,75,76,77,78,79,80,81,82,83,85,86,87,89,92,93,95,97,98,99,100,101,
                                      105,106,107,108,109,110,112,116,118]],axis='columns', inplace=True)

testData.drop(testData.columns[[2,3,4,7,9,10,11,12,13,15,16,18,19,20,22,23,24,25,26,27,28,29,30,31,32,33,34,35,
                                      37,38,39,40,41,42,44,45,46,47,48,49,50,51,52,53,54,56,57,58,
                                      61,62,63,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,
                                      83,85,86,87,89,92,93,95,97,98,99,100,101,105,106,107,108,109,110,
                                      112,116,118]],axis='columns', inplace=True)

In [1094]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    projectData.values[:,0:-1],
    projectData_statusgroup,
    test_size=0.01,
    random_state=42)

y_train = y_train.ravel()
y_test = y_test.ravel()


print('Training dataset shape:', X_train.shape, y_train.shape)
print('Testing dataset shape:', X_test.shape, y_test.shape)

Training dataset shape: (58806, 32) (58806,)
Testing dataset shape: (594, 32) (594,)

In [ ]:
#http://rasbt.github.io/mlxtend/user_guide/feature_selection/SequentialFeatureSelector/

Here we changed date_recorded to only year in integer.

In [1095]:
from sklearn.ensemble import RandomForestClassifier
from mlxtend.feature_selection import SequentialFeatureSelector as sfs
clf = RandomForestClassifier(n_estimators=200, n_jobs=3)
sfs1 = sfs(clf,
           k_features=25,
           forward=True,
           floating=False,
           verbose=2,
           scoring='accuracy',
           cv=6)

sfs1 = sfs1.fit(X_train, y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    6.9s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  32 out of  32 | elapsed:  2.5min finished

[2021-05-05 10:51:13] Features: 1/25 -- score: 0.642502465734789[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    5.6s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  31 out of  31 | elapsed:  2.6min finished

[2021-05-05 10:53:52] Features: 2/25 -- score: 0.6881950821344761[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    6.2s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  30 out of  30 | elapsed:  2.8min finished

[2021-05-05 10:56:37] Features: 3/25 -- score: 0.6992143658810325[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    9.2s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  29 out of  29 | elapsed:  3.8min finished

[2021-05-05 11:00:26] Features: 4/25 -- score: 0.7212699384416555[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   11.6s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  28 out of  28 | elapsed:  4.7min finished

[2021-05-05 11:05:08] Features: 5/25 -- score: 0.7368465802809236[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   13.4s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  27 out of  27 | elapsed:  5.4min finished

[2021-05-05 11:10:34] Features: 6/25 -- score: 0.744821956943169[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   14.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  26 out of  26 | elapsed:  5.6min finished

[2021-05-05 11:16:08] Features: 7/25 -- score: 0.7520491106349692[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   14.6s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  25 out of  25 | elapsed:  5.7min finished

[2021-05-05 11:21:47] Features: 8/25 -- score: 0.7593442845968098[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   16.4s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  24 out of  24 | elapsed:  6.2min finished

[2021-05-05 11:28:00] Features: 9/25 -- score: 0.7637485970819303[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   17.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  23 out of  23 | elapsed:  6.7min finished

[2021-05-05 11:34:43] Features: 10/25 -- score: 0.7681529095670508[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   17.6s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  22 out of  22 | elapsed:  6.6min finished

[2021-05-05 11:41:16] Features: 11/25 -- score: 0.770465598748427[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   17.8s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  21 out of  21 | elapsed:  6.3min finished

[2021-05-05 11:47:35] Features: 12/25 -- score: 0.7726932625922526[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   18.7s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  20 out of  20 | elapsed:  6.3min finished

[2021-05-05 11:53:51] Features: 13/25 -- score: 0.7744787946808148[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   19.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  19 out of  19 | elapsed:  6.1min finished

[2021-05-05 11:59:59] Features: 14/25 -- score: 0.775363058191341[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   20.6s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  18 out of  18 | elapsed:  6.2min finished

[2021-05-05 12:06:10] Features: 15/25 -- score: 0.7771655953474136[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   20.3s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  17 out of  17 | elapsed:  5.8min finished

[2021-05-05 12:11:57] Features: 16/25 -- score: 0.778798081828385[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   20.9s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  16 out of  16 | elapsed:  5.7min finished

[2021-05-05 12:17:36] Features: 17/25 -- score: 0.7804475733768664[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   21.4s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  15 out of  15 | elapsed:  5.4min finished

[2021-05-05 12:22:58] Features: 18/25 -- score: 0.7811107710097609[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   21.5s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  14 out of  14 | elapsed:  5.1min finished

[2021-05-05 12:28:04] Features: 19/25 -- score: 0.7816379281025746[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   22.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  13 out of  13 | elapsed:  4.9min finished

[2021-05-05 12:32:57] Features: 20/25 -- score: 0.7821990953304084[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   22.9s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  12 out of  12 | elapsed:  4.6min finished

[2021-05-05 12:37:34] Features: 21/25 -- score: 0.7833214297860763[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   23.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  11 out of  11 | elapsed:  4.3min finished

[2021-05-05 12:41:51] Features: 22/25 -- score: 0.7832874196510561[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   23.3s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:  3.9min finished

[2021-05-05 12:45:43] Features: 23/25 -- score: 0.784154678094072[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   22.8s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   9 out of   9 | elapsed:  3.5min finished

[2021-05-05 12:49:11] Features: 24/25 -- score: 0.7841716831615821[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   24.8s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   8 out of   8 | elapsed:  3.4min finished

[2021-05-05 12:52:33] Features: 25/25 -- score: 0.7840696527565214

In [986]:
feat_cols = list(sfs1.k_feature_idx_)
print(feat_cols)

sfs1.subsets_

[0, 1, 5, 6, 8, 14, 17, 21, 36, 43, 55, 59, 60, 64, 65, 84, 90, 91, 94, 96, 102, 103, 104, 111, 113, 114, 115, 117]

{1: {'feature_idx': (103,),
  'cv_scores': array([0.64164724, 0.63869464, 0.64801865, 0.64522145, 0.64304584,
         0.63527584]),
  'avg_score': 0.641983941983942,
  'feature_names': ('103',)},
 2: {'feature_idx': (65, 103),
  'cv_scores': array([0.68702409, 0.68951049, 0.69044289, 0.69448329, 0.68578089,
         0.68127428]),
  'avg_score': 0.6880859880859881,
  'feature_names': ('65', '103')},
 3: {'feature_idx': (8, 65, 103),
  'cv_scores': array([0.6994561 , 0.7000777 , 0.6983683 , 0.7024087 , 0.69246309,
         0.69417249]),
  'avg_score': 0.6978243978243978,
  'feature_names': ('8', '65', '103')},
 4: {'feature_idx': (5, 8, 65, 103),
  'cv_scores': array([0.71794872, 0.72649573, 0.71903652, 0.72773893, 0.71732712,
         0.71406371]),
  'avg_score': 0.7204351204351204,
  'feature_names': ('5', '8', '65', '103')},
 5: {'feature_idx': (5, 6, 8, 65, 103),
  'cv_scores': array([0.72944833, 0.73395493, 0.73115773, 0.73426573, 0.73426573,
         0.72867133]),
  'avg_score': 0.7319606319606319,
  'feature_names': ('5', '6', '8', '65', '103')},
 6: {'feature_idx': (5, 6, 8, 65, 103, 117),
  'cv_scores': array([0.73442113, 0.74234654, 0.74048174, 0.75027195, 0.74436674,
         0.73659674]),
  'avg_score': 0.7414141414141414,
  'feature_names': ('5', '6', '8', '65', '103', '117')},
 7: {'feature_idx': (0, 5, 6, 8, 65, 103, 117),
  'cv_scores': array([0.73908314, 0.75167055, 0.74685315, 0.74918415, 0.75462315,
         0.74514375]),
  'avg_score': 0.7477596477596479,
  'feature_names': ('0', '5', '6', '8', '65', '103', '117')},
 8: {'feature_idx': (0, 5, 6, 8, 65, 103, 115, 117),
  'cv_scores': array([0.74933955, 0.75757576, 0.75462315, 0.75415695, 0.75710956,
         0.74234654]),
  'avg_score': 0.7525252525252526,
  'feature_names': ('0', '5', '6', '8', '65', '103', '115', '117')},
 9: {'feature_idx': (0, 5, 6, 8, 65, 103, 104, 115, 117),
  'cv_scores': array([0.75415695, 0.76099456, 0.76099456, 0.75959596, 0.76270396,
         0.75213675]),
  'avg_score': 0.7584304584304583,
  'feature_names': ('0', '5', '6', '8', '65', '103', '104', '115', '117')},
 10: {'feature_idx': (0, 5, 6, 8, 59, 65, 103, 104, 115, 117),
  'cv_scores': array([0.75897436, 0.76441336, 0.76550117, 0.76348096, 0.76270396,
         0.75462315]),
  'avg_score': 0.7616161616161615,
  'feature_names': ('0',
   '5',
   '6',
   '8',
   '59',
   '65',
   '103',
   '104',
   '115',
   '117')},
 11: {'feature_idx': (0, 5, 6, 8, 59, 65, 103, 104, 113, 115, 117),
  'cv_scores': array([0.76223776, 0.76627817, 0.76923077, 0.76674437, 0.76674437,
         0.75275835]),
  'avg_score': 0.7639989639989638,
  'feature_names': ('0',
   '5',
   '6',
   '8',
   '59',
   '65',
   '103',
   '104',
   '113',
   '115',
   '117')},
 12: {'feature_idx': (0, 5, 6, 8, 14, 59, 65, 103, 104, 113, 115, 117),
  'cv_scores': array([0.76317016, 0.76674437, 0.77000777, 0.76829837, 0.77140637,
         0.75897436]),
  'avg_score': 0.7664335664335664,
  'feature_names': ('0',
   '5',
   '6',
   '8',
   '14',
   '59',
   '65',
   '103',
   '104',
   '113',
   '115',
   '117')},
 13: {'feature_idx': (0, 5, 6, 8, 14, 59, 65, 96, 103, 104, 113, 115, 117),
  'cv_scores': array([0.76752137, 0.76441336, 0.77202797, 0.77327117, 0.77327117,
         0.76208236]),
  'avg_score': 0.7687645687645688,
  'feature_names': ('0',
   '5',
   '6',
   '8',
   '14',
   '59',
   '65',
   '96',
   '103',
   '104',
   '113',
   '115',
   '117')},
 14: {'feature_idx': (0, 5, 6, 8, 14, 17, 59, 65, 96, 103, 104, 113, 115, 117),
  'cv_scores': array([0.77125097, 0.77078477, 0.77311577, 0.77187257, 0.77606838,
         0.76083916]),
  'avg_score': 0.7706552706552706,
  'feature_names': ('0',
   '5',
   '6',
   '8',
   '14',
   '17',
   '59',
   '65',
   '96',
   '103',
   '104',
   '113',
   '115',
   '117')},
 15: {'feature_idx': (0,
   5,
   6,
   8,
   14,
   17,
   59,
   64,
   65,
   96,
   103,
   104,
   113,
   115,
   117),
  'cv_scores': array([0.77233877, 0.77249417, 0.77606838, 0.77109557, 0.77606838,
         0.76596737]),
  'avg_score': 0.7723387723387724,
  'feature_names': ('0',
   '5',
   '6',
   '8',
   '14',
   '17',
   '59',
   '64',
   '65',
   '96',
   '103',
   '104',
   '113',
   '115',
   '117')},
 16: {'feature_idx': (0,
   5,
   6,
   8,
   14,
   17,
   21,
   59,
   64,
   65,
   96,
   103,
   104,
   113,
   115,
   117),
  'cv_scores': array([0.77311577, 0.77342657, 0.77575758, 0.77513598, 0.77793318,
         0.76674437]),
  'avg_score': 0.7736855736855737,
  'feature_names': ('0',
   '5',
   '6',
   '8',
   '14',
   '17',
   '21',
   '59',
   '64',
   '65',
   '96',
   '103',
   '104',
   '113',
   '115',
   '117')},
 17: {'feature_idx': (0,
   5,
   6,
   8,
   14,
   17,
   21,
   59,
   64,
   65,
   94,
   96,
   103,
   104,
   113,
   115,
   117),
  'cv_scores': array([0.77529138, 0.77373737, 0.77917638, 0.77575758, 0.77700078,
         0.76814297]),
  'avg_score': 0.774851074851075,
  'feature_names': ('0',
   '5',
   '6',
   '8',
   '14',
   '17',
   '21',
   '59',
   '64',
   '65',
   '94',
   '96',
   '103',
   '104',
   '113',
   '115',
   '117')},
 18: {'feature_idx': (0,
   5,
   6,
   8,
   14,
   17,
   21,
   59,
   64,
   65,
   91,
   94,
   96,
   103,
   104,
   113,
   115,
   117),
  'cv_scores': array([0.77684538, 0.77233877, 0.77700078, 0.77622378, 0.78073038,
         0.76845377]),
  'avg_score': 0.7752654752654752,
  'feature_names': ('0',
   '5',
   '6',
   '8',
   '14',
   '17',
   '21',
   '59',
   '64',
   '65',
   '91',
   '94',
   '96',
   '103',
   '104',
   '113',
   '115',
   '117')},
 19: {'feature_idx': (0,
   5,
   6,
   8,
   14,
   17,
   21,
   59,
   64,
   65,
   84,
   91,
   94,
   96,
   103,
   104,
   113,
   115,
   117),
  'cv_scores': array([0.77529138, 0.77342657, 0.77808858, 0.77933178, 0.77979798,
         0.77125097]),
  'avg_score': 0.7761978761978763,
  'feature_names': ('0',
   '5',
   '6',
   '8',
   '14',
   '17',
   '21',
   '59',
   '64',
   '65',
   '84',
   '91',
   '94',
   '96',
   '103',
   '104',
   '113',
   '115',
   '117')},
 20: {'feature_idx': (0,
   5,
   6,
   8,
   14,
   17,
   21,
   59,
   64,
   65,
   84,
   91,
   94,
   96,
   102,
   103,
   104,
   113,
   115,
   117),
  'cv_scores': array([0.77653458, 0.77855478, 0.77731158, 0.77933178, 0.78135198,
         0.76954157]),
  'avg_score': 0.7771043771043771,
  'feature_names': ('0',
   '5',
   '6',
   '8',
   '14',
   '17',
   '21',
   '59',
   '64',
   '65',
   '84',
   '91',
   '94',
   '96',
   '102',
   '103',
   '104',
   '113',
   '115',
   '117')},
 21: {'feature_idx': (0,
   1,
   5,
   6,
   8,
   14,
   17,
   21,
   59,
   64,
   65,
   84,
   91,
   94,
   96,
   102,
   103,
   104,
   113,
   115,
   117),
  'cv_scores': array([0.77560218, 0.77855478, 0.78073038, 0.78259518, 0.77917638,
         0.77016317]),
  'avg_score': 0.7778036778036778,
  'feature_names': ('0',
   '1',
   '5',
   '6',
   '8',
   '14',
   '17',
   '21',
   '59',
   '64',
   '65',
   '84',
   '91',
   '94',
   '96',
   '102',
   '103',
   '104',
   '113',
   '115',
   '117')},
 22: {'feature_idx': (0,
   1,
   5,
   6,
   8,
   14,
   17,
   21,
   59,
   60,
   64,
   65,
   84,
   91,
   94,
   96,
   102,
   103,
   104,
   113,
   115,
   117),
  'cv_scores': array([0.77420357, 0.77964258, 0.78150738, 0.78166278, 0.78135198,
         0.76938617]),
  'avg_score': 0.7779590779590779,
  'feature_names': ('0',
   '1',
   '5',
   '6',
   '8',
   '14',
   '17',
   '21',
   '59',
   '60',
   '64',
   '65',
   '84',
   '91',
   '94',
   '96',
   '102',
   '103',
   '104',
   '113',
   '115',
   '117')},
 23: {'feature_idx': (0,
   1,
   5,
   6,
   8,
   14,
   17,
   21,
   59,
   60,
   64,
   65,
   84,
   91,
   94,
   96,
   102,
   103,
   104,
   113,
   114,
   115,
   117),
  'cv_scores': array([0.77591298, 0.77839938, 0.78337218, 0.78399378, 0.78337218,
         0.76814297]),
  'avg_score': 0.7788655788655788,
  'feature_names': ('0',
   '1',
   '5',
   '6',
   '8',
   '14',
   '17',
   '21',
   '59',
   '60',
   '64',
   '65',
   '84',
   '91',
   '94',
   '96',
   '102',
   '103',
   '104',
   '113',
   '114',
   '115',
   '117')},
 24: {'feature_idx': (0,
   1,
   5,
   6,
   8,
   14,
   17,
   21,
   55,
   59,
   60,
   64,
   65,
   84,
   91,
   94,
   96,
   102,
   103,
   104,
   113,
   114,
   115,
   117),
  'cv_scores': array([0.77793318, 0.78228438, 0.78041958, 0.78228438, 0.78383838,
         0.77047397]),
  'avg_score': 0.7795389795389794,
  'feature_names': ('0',
   '1',
   '5',
   '6',
   '8',
   '14',
   '17',
   '21',
   '55',
   '59',
   '60',
   '64',
   '65',
   '84',
   '91',
   '94',
   '96',
   '102',
   '103',
   '104',
   '113',
   '114',
   '115',
   '117')},
 25: {'feature_idx': (0,
   1,
   5,
   6,
   8,
   14,
   17,
   21,
   36,
   55,
   59,
   60,
   64,
   65,
   84,
   91,
   94,
   96,
   102,
   103,
   104,
   113,
   114,
   115,
   117),
  'cv_scores': array([0.78010878, 0.77917638, 0.78166278, 0.78539239, 0.78290598,
         0.77062937]),
  'avg_score': 0.7799792799792798,
  'feature_names': ('0',
   '1',
   '5',
   '6',
   '8',
   '14',
   '17',
   '21',
   '36',
   '55',
   '59',
   '60',
   '64',
   '65',
   '84',
   '91',
   '94',
   '96',
   '102',
   '103',
   '104',
   '113',
   '114',
   '115',
   '117')},
 26: {'feature_idx': (0,
   1,
   5,
   6,
   8,
   14,
   17,
   21,
   36,
   55,
   59,
   60,
   64,
   65,
   84,
   90,
   91,
   94,
   96,
   102,
   103,
   104,
   113,
   114,
   115,
   117),
  'cv_scores': array([0.77668998, 0.78321678, 0.78275058, 0.78492618, 0.78461538,
         0.76860917]),
  'avg_score': 0.7801346801346801,
  'feature_names': ('0',
   '1',
   '5',
   '6',
   '8',
   '14',
   '17',
   '21',
   '36',
   '55',
   '59',
   '60',
   '64',
   '65',
   '84',
   '90',
   '91',
   '94',
   '96',
   '102',
   '103',
   '104',
   '113',
   '114',
   '115',
   '117')},
 27: {'feature_idx': (0,
   1,
   5,
   6,
   8,
   14,
   17,
   21,
   36,
   55,
   59,
   60,
   64,
   65,
   84,
   90,
   91,
   94,
   96,
   102,
   103,
   104,
   111,
   113,
   114,
   115,
   117),
  'cv_scores': array([0.78041958, 0.77902098, 0.78523699, 0.78368298, 0.78694639,
         0.77016317]),
  'avg_score': 0.780911680911681,
  'feature_names': ('0',
   '1',
   '5',
   '6',
   '8',
   '14',
   '17',
   '21',
   '36',
   '55',
   '59',
   '60',
   '64',
   '65',
   '84',
   '90',
   '91',
   '94',
   '96',
   '102',
   '103',
   '104',
   '111',
   '113',
   '114',
   '115',
   '117')},
 28: {'feature_idx': (0,
   1,
   5,
   6,
   8,
   14,
   17,
   21,
   36,
   43,
   55,
   59,
   60,
   64,
   65,
   84,
   90,
   91,
   94,
   96,
   102,
   103,
   104,
   111,
   113,
   114,
   115,
   117),
  'cv_scores': array([0.77995338, 0.78477078, 0.78212898, 0.78445998, 0.78445998,
         0.77233877]),
  'avg_score': 0.7813519813519814,
  'feature_names': ('0',
   '1',
   '5',
   '6',
   '8',
   '14',
   '17',
   '21',
   '36',
   '43',
   '55',
   '59',
   '60',
   '64',
   '65',
   '84',
   '90',
   '91',
   '94',
   '96',
   '102',
   '103',
   '104',
   '111',
   '113',
   '114',
   '115',
   '117')}}

In [1093]:
clf1 = clf.fit(projectData,projectData_statusgroup)

prediction1 = clf1.predict(testData)

data = {'ID': testData_id, 'status_group': prediction1}
submit = pd.DataFrame(data=data)

vals_to_replace = {1:'functional', 2:'functional needs repair',0:'non functional'}

submit.status_group = submit.status_group.replace(vals_to_replace)        

submit.to_csv('C:/Users/cCengiZz/Downloads/pump_predictions.csv', index=False)

In [881]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=8, n_jobs=3)

sfs2 = sfs(knn, 
           k_features=20, 
           forward=True, 
           floating=False, 
           verbose=2,
           scoring='accuracy',
           cv=2)

sfs2 = sfs2.fit(projectData, projectData_statusgroup)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    5.8s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  29 out of  29 | elapsed:  3.4min finished

[2021-05-04 21:01:15] Features: 1/20 -- score: 0.5948484848484848[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    4.8s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  28 out of  28 | elapsed:  2.5min finished

[2021-05-04 21:03:47] Features: 2/20 -- score: 0.6176936026936026[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    4.7s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  27 out of  27 | elapsed:  2.4min finished

[2021-05-04 21:06:12] Features: 3/20 -- score: 0.6748821548821549[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    4.6s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  26 out of  26 | elapsed:  2.3min finished

[2021-05-04 21:08:31] Features: 4/20 -- score: 0.685050505050505[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    4.9s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  25 out of  25 | elapsed:  2.3min finished

[2021-05-04 21:10:50] Features: 5/20 -- score: 0.6980808080808081[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    5.3s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  24 out of  24 | elapsed:  2.4min finished

[2021-05-04 21:13:13] Features: 6/20 -- score: 0.6986868686868686[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    5.3s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  23 out of  23 | elapsed:  2.3min finished

[2021-05-04 21:15:29] Features: 7/20 -- score: 0.7005218855218855[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    5.5s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  22 out of  22 | elapsed:  2.0min finished

[2021-05-04 21:17:31] Features: 8/20 -- score: 0.7027609427609427[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    4.9s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  21 out of  21 | elapsed:  1.5min finished

[2021-05-04 21:19:03] Features: 9/20 -- score: 0.7021380471380472[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    4.8s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  20 out of  20 | elapsed:  1.4min finished

[2021-05-04 21:20:28] Features: 10/20 -- score: 0.7078451178451178[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    4.8s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  19 out of  19 | elapsed:  1.4min finished

[2021-05-04 21:21:50] Features: 11/20 -- score: 0.7135858585858585[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    4.3s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  18 out of  18 | elapsed:  1.1min finished

[2021-05-04 21:22:54] Features: 12/20 -- score: 0.7255050505050504[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    4.2s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  17 out of  17 | elapsed:   57.4s finished

[2021-05-04 21:23:51] Features: 13/20 -- score: 0.728922558922559[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    4.3s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  16 out of  16 | elapsed:   56.6s finished

[2021-05-04 21:24:48] Features: 14/20 -- score: 0.7306397306397306[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    4.3s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  15 out of  15 | elapsed:   52.7s finished

[2021-05-04 21:25:41] Features: 15/20 -- score: 0.7313973063973065[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:  1.1min remaining:    0.0s
[Parallel(n_jobs=1)]: Done  14 out of  14 | elapsed: 14.5min finished

[2021-05-04 21:40:10] Features: 16/20 -- score: 0.7332323232323232[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:  1.1min remaining:    0.0s
[Parallel(n_jobs=1)]: Done  13 out of  13 | elapsed: 13.7min finished

[2021-05-04 21:53:54] Features: 17/20 -- score: 0.7341750841750841[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:  1.1min remaining:    0.0s
[Parallel(n_jobs=1)]: Done  12 out of  12 | elapsed: 12.5min finished

[2021-05-04 22:06:23] Features: 18/20 -- score: 0.7346296296296296[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:  1.1min remaining:    0.0s
[Parallel(n_jobs=1)]: Done  11 out of  11 | elapsed: 11.4min finished

[2021-05-04 22:17:47] Features: 19/20 -- score: 0.7351346801346801[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:  1.1min remaining:    0.0s
[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed: 10.5min finished

[2021-05-04 22:28:20] Features: 20/20 -- score: 0.7354377104377104

NotFittedError: This KNeighborsClassifier instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [882]:
knn.fit(projectData,projectData_statusgroup)

prediction2 = knn.predict(testData)

data = {'ID': testData_id, 'status_group': prediction2}
submit = pd.DataFrame(data=data)
vals_to_replace = {1:'functional', 2:'functional needs repair', 0:'non functional'}

submit.status_group = submit.status_group.replace(vals_to_replace)        

submit.to_csv('C:/Users/cCengiZz/Downloads/submit_this.csv', index=False)

In [984]:
!pip install xgboost

Collecting xgboost
  Downloading xgboost-1.4.1-py3-none-win_amd64.whl (97.8 MB)
Requirement already satisfied: numpy in c:\python39\opencv\lib\site-packages (from xgboost) (1.20.2)
Requirement already satisfied: scipy in c:\python39\opencv\lib\site-packages (from xgboost) (1.6.3)
Installing collected packages: xgboost
Successfully installed xgboost-1.4.1

In [985]:
from xgboost import XGBClassifier

In [1089]:
model = XGBClassifier()
model.fit(projectData, projectData_statusgroup)

c:\python39\opencv\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[09:17:32] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=4, num_parallel_tree=1,
              objective='multi:softprob', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [1090]:
prediction4 = model.predict(testData)

data = {'ID': testData_id, 'status_group': prediction4}
submit = pd.DataFrame(data=data)
vals_to_replace = {1:'functional', 2:'functional needs repair', 0:'non functional'}

submit.status_group = submit.status_group.replace(vals_to_replace)        

submit.to_csv('C:/Users/cCengiZz/Downloads/submit_this.csv', index=False)

c:\python39\opencv\lib\site-packages\xgboost\data.py:112: UserWarning: Use subset (sliced data) of np.ndarray is not recommended because it will generate extra copies and increase memory consumption
  warnings.warn(